Sign up

<form action="/register" method="post">
  <input type="email" name="email" placeholder="<%= @user.email %>" required>

  <input type="password" name="pw" placeholder="password">

  <input type="password" name="pwc" placeholder="password confirmation">

  <input type="submit" value="Register">
</form>
