Sign up

<form action="/register" method="post">
  <input type="text" name="address" placeholder="Email">

  <input type="password" name="pw" placeholder="password">

  <input type="password" name="pwc" placeholder="password">

  <input type="submit" value="Register">
</form>
